			* {
				box-sizing: border-box;
			}
			html {
				margin: 0;
				text-align: center;
			}
			body {
				margin: 0;
				text-align: center;
				height: 100%;
			}
			head {
			grid-area: top;
			}
			.sidebar,
			.content {
				padding: 10px;
			}

			.sidebar {
				background: #F34A4E;
			}
			.main-container{
				display: grid;
				grid-template:
					[row1-start] "left right" auto[row1-end]
					/ 20% auto;
				padding-right: 20px;
				padding-left: 20px;
				padding-bottom: 35px;
				position: fixed;
				height: 100%;
				width: 100%;
			}


			.left {
				font-size: 1.0em;
				background: #F34A4E;
				grid-area: left;
				float: up;
			}
			
			.filterItem {
				display: none;
			}
			
			.show {
				display: grid; 
			}
			

			.right {
				font-size: 1.0em;
				grid-area: right;
			}
			
			.flag-form {
				font-size: 1.0em;
				display: grid;
				grid-template:
					[row1-start] "left right"[row1-end]
					/ 66% auto;
				padding: 20px;

			}
			.flag-left {
				font-size: 1.0em;
				grid-area: left;
				place-self: center;
				justify-content: space-evenly;
				align-content: space-evenly;
			}
			
			.flag-right {
				font-size: 1.0em;
				grid-area: right;
				place-self: center;
				justify-content: space-evenly;
				align-content: space-evenly;
			}
			
			.girth {
				width: 100%;
			}
			.container-asdf {
				font-size: 1.0em;
				grid-template:
					[row1-start] "title button" auto[row1-end]
					[row2-start] "content button" auto[row2-end]
					/ 90% auto;
				<!--outline-style: solid;
				outline-color: black; -->
			    word-wrap: break-word;
				word-break: break-all;
				padding: 20px;
				border-bottom:3px solid #f5f5f5;
			}
			.item-a {
				font-size: 1em;
				grid-area: title;
				place-self: start;
				font-weight: bold;
				color: black;
			}
			.item-b {
				font-size: 1.0em;
				grid-area: content;
				place-self: start;
				font-size: .7em;
				padding-left: .5in;
			}
			.item-c {
				font-size: 1.0em;
				grid-area: button;
				place-self: center;
				font-size: 2em
			}
			
		

			.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    font-size: 1.0em;
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  font-size: 1.0em;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}.modal-backdrop.fade{opacity:0}.modal-backdrop,.modal-backdrop.fade.in{opacity:.8;filter:alpha(opacity=80)}