{% extends "topindex.html" %}
{% block head %}
{{super()}}
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
	$('#input_id').on('change', function() {
		alert("Nice");
	});
});

function ajax_call() {
		$.ajax({url: "../api/provision_number", success: function(result){
			number = result.data[0].ID+1;
			var unid = document.getElementById('unique_id');
			unid.value = number;
		}});
};

$(document).ready(function(){
	ajax_call();
});

$("#coolButton").on("click", function(event) {
	event.preventDefault();
	ajax_call();
	$(this).unbind('submit').submit;
});

</script>
<style>
.body {
  
}
.style1 {
	padding-top: 10vh;
	padding-left: 10vw;
	padding-right: 10vw;
}
</style>
</head>
{% endblock %}
<body style="cent">
{% block content %}
<div class="container">
<form id="CoolForm" action="" method="POST" name="flag" enctype="multipart/form-data">
		<div class="form-group">
			{{ form.problem_name.label }}<br>
			{{ form.problem_name(class="form-control", placeholder="Problem Name") }} <br>
		</div>
		<div class="form-group">
			{{ form.summary.label }}<br>
			{{ form.summary(style="", class="form-control", placeholder="Problem Summary") }} <br>
		</div>
		<div class="form-group", id="input_id">
			{{ form.unique_id.label }}<br>
			{{ form.unique_id(readonly=True, class="form-control", placeholder="Unique ID", type="Number") }} <br>
		</div>
		<div class="form-group">
			{{ form.category.label }}<br>
			{{ form.category(class="form-control", placeholder="Basic") }} <br>
		</div>
		<div class="form-group">
			{{ form.solution_flag.label }}<br>
			{{ form.solution_flag(class="form-control", placeholder="Flag") }} <br>
		</div>
		<div class="form-group">
			{{ form.point_value.label }}<br>
			{{ form.point_value(class="form-control", placeholder="Point Value") }} <br>
		</div>
		<div class = "form-group">
		{{ form.file_field(placeholder = "File") }}<br>
		</div>
		<div class = "form-group"><br>
		{{ form.submit(id="coolButton", class="btn btn-primary", type="submit", value="Submit") }}
		{{ form.hidden_tag() }}
		</div>
	</form>
	<br>
</div>
	</body>
{% endblock %}