{% extends "topindex.html"%}
{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for("static", filename="css/dashboard.css") }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

Vue.component('problem-button', {
	delimiters: ["!!!", "!!!"],
	data: function () {
		return {
			Button: this.unique_id,
			buttontext: "Press Me!",
		}
	},
	methods: {
		do_thing: function(variable) {
			insert_modal(variable)	
		}

	},
	props: ['unique_id'],
	template: '<button v-on:click="do_thing(Button)" class="btn btn-primary" id="Button">!!! buttontext !!!</button>',
});



Vue.component('modal-maker',{
		delimiters: ['!!!','!!!'],
		data: function() {
			return {
				items: [],
				name: null,
				summary: null,
			}
		},
		
		props: ['unique_id'],

		template: `
					
<div id="problem-modal" class="modal"  tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">!!! name !!!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        !!! summary !!!
      </div>
	  <form action="" method="POST" name="flag" :id ="unique_id">
      <div class="modal-footer flag-footer flag-form">
		<div class="flag-left">

		{{ form.flag(class="form-control girth", placeholder="flag") }} 
		</div><div class="flag-right">
		{{ form.submit(class="btn btn-primary", type="submit", value="Submit") }}
		<button type="button" onclick="toggle_modal()" class="btn btn-secondary flag-right">Close</button>
		</div>
		{{ form.hidden_tag() }}
		</div>
	</form>
    </div>
  </div>
</div>
	
		`,
		
		created: function() {
			this.fetchData(this.unique_id);
		},
		
		methods: {
			fetchData: function(button_id) {
				var self = this;
				fetch('./api/problems')
					.then(response => {
						var response = response.json();
						return response;
					})
					.then(json => {
						var data = json.data;
						var length = data.length;
						for (var i = 0; i<length; i++) {
							if (data[i].unique_id == button_id) {
								this.name = data[i].problem_name;
								this.summary = data[i].summary;
							}
						}
					})
				}
			},	
		});

function insert_modal(unique_id) {
	document.getElementById('modal-div').innerHTML = `<modal-maker id='problem-modal' unique_id=${unique_id}></modal-maker>`;
	new Vue({ el: `#problem-modal ` })
	toggle_modal();
}
function toggle_modal() {
$(document).ready(function(){
   $(`#problem-modal`).modal("toggle");
  });
}

</script>
{% endblock %}

{%block content%}
<body>
<div id="app" class="main-container">
<div id="modal-div">
	</div>
	<div class="left sidebar">
	Under Construction
	</div>
	<div class="right">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for record in messages %}
			{% for problem in record %}
				
				<div class="container-asdf">
					<div class="item-a">{{ problem.problem_name }}</div>
					<div class="item-b">{{ problem.summary }}</div>
					<div class="item-c" id="item-c{{problem.unique_id}}">
						<problem-button unique_id='{{ problem.unique_id }}'></problem-button>
					</div>
					<script>
					new Vue({ el: "#item-c{{problem.unique_id}}"}) 
</script>
				</div>
				
			{% endfor %}
		{% endfor %}
	{% endif %}
	{% endwith %}
	</div>

</div>
</body>
{%endblock%}

