{% extends "topindex.html"%}
{% block head %}
{{super()}}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" href="{{ url_for("static", filename="css/dashboard.css") }}">

<script>

Vue.component('problem-button', {
	delimiters: ["!!!", "!!!"],
	data: function () {
		return {
			Button: this.unique_id,
			buttontext: "Press Me!",
		}
	},
	methods: {
		do_thing: function(variable) {
			insert_modal(variable)	
		}

	},
	props: ['unique_id'],
	template: '<button v-on:click="do_thing(Button)" class="btn btn-primary" id="Button">!!! buttontext !!!</button>',
});



Vue.component('modal-maker',{
		delimiters: ['!!!','!!!'],
		data: function() {
			return {
				items: [],
				name: null,
				summary: null,
			}
		},
		
		props: ['unique_id'],

		template: `
					
<div id="problem-modal" class="modal"  tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">!!! name !!!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        !!! summary !!!
      </div>
	  <form action="" method="POST" name="flag" :id ="unique_id">
      <div class="modal-footer flag-footer flag-form">
		<div class="flag-left">

		{{ form.flag(class="form-control girth", placeholder="flag") }} 
		{{ form.unique_id(type="hidden") }}
		</div><div class="flag-right">
		{{ form.submit(class="btn btn-primary", type="submit", value="Submit") }}
		<button type="button" onclick="toggle_modal()" class="btn btn-secondary flag-right">Close</button>
		</div>
		{{ form.hidden_tag() }}
		</div>
	</form>
    </div>
  </div>
</div>
	
		`,
		
		created: function() {
			this.fetchData(this.unique_id);
		},
		
		methods: {
			fetchData: function(button_id) {
				var self = this;
				fetch('./api/problems')
					.then(response => {
						var response = response.json();
						return response;
					})
					.then(json => {
						var data = json.data;
						var length = data.length;
						for (var i = 0; i<length; i++) {
							if (data[i].unique_id == button_id) {
								this.name = data[i].problem_name;
								this.summary = data[i].summary;
							}
						}
					})
				}
			},	
		});

function insert_modal(unique_id) {
	document.getElementById('modal-div').innerHTML = `<modal-maker id='problem-modal' unique_id=${unique_id}></modal-maker>`;
	new Vue({ el: `#problem-modal ` })
	fill_un_id(unique_id);
	toggle_modal();
}
function toggle_modal() {
$(document).ready(function(){
   $(`#problem-modal`).modal("toggle");
  });
}

function fill_un_id(number) {
	var place = document.getElementById('unique_id');
	place.value = number;
}

function filterSelection(c) {
	var element_array, i;
	element_array = document.getElementsByClassName("filterItem")
	if (c == "all") c="";
	for (i=0; i < element_array.length; i++) {
		removeClass(element_array[i], "show");
		if (element_array[i].className.indexOf(c) > -1) addClass(element_array[i], "show");
	}
}

function addClass(element, name_to_add){
	element.classList.add(name_to_add);
}

function removeClass(element, name_to_remove){
	element.classList.remove(name_to_remove);
}
$(document).ready(function () {
filterSelection("all");
});
</script>
<style>

.modal-backdrop.fade, .modal-backdrop.fade.in {
         opacity: 0.7 !important;
    }
	
</style>
{% endblock %}
<body class="d-flex flex-column h-100">
{%block content%}
<div id="app" class="main-container">
	<div class="left sidebar">
		<div id="myBtnContainer">
	<button class="btn active" onclick="filterSelection('all')"> Show all</button>
	<button class="btn" onclick="filterSelection('Default')"> Default</button>
	<button class="btn" onclick="filterSelection('Basic')"> Basic</button>
	</div>
	</div>
	<div class="middle">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for record in messages %}
			{% for problem in record %}
				<div class="container-asdf filterItem {{problem.category}}">
					<div class="item-a">{{ problem.problem_name }}</div>
					<div class="item-b">{{ problem.summary }}</div>
					<div class="item-c" id="item-c{{problem.unique_id}}">
						<problem-button unique_id='{{ problem.unique_id }}'></problem-button>
					</div>
					<script>
					new Vue({ el: "#item-c{{problem.unique_id}}"}) 
					</script>
				</div>
				
			{% endfor %}
		{% endfor %}
	{% endif %}
	{% endwith %}
	</div>
	<div class="container right">
		<h4>Scoreboard:</h4>
	</div>
</div>
<div id="modal-div">
	</div>
{%endblock%}

</body>


