<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% extends "topindex.html"%}
{% block head %}
{{super()}}
<script type="text/javascript">
$(document).ready ( function() {
    google.charts.load('current', {'packages':['line']});
    google.charts.setOnLoadCallback(chartGen);
});

async function chartGen() {
    const distinct = (value, index, self) => {
        return self.indexOf(value) == index;
    }
    fetch(`/api/scoring_feed`)
        .then(response => response.json())
        .then(json => {
            var data = json;
            var yarr= []; // [[team_name, new_score, timestamp]]
            // This makes yarr
            data.forEach( function(item) {
                var arr;
                arr = {'team_name':item.team_name, 'new_total': item.new_total, 'when_solved':item.when_solved};
                yarr.push(arr);
            })
            var xarr = {};
            // The next bit would be Xarr
            // xarr = {team_name: number, team_name: number}
            var all_teams = [];
            data.forEach( function(item) {
                all_teams.push(item.team_name)
            });
            var distinct_teams = all_teams.filter(distinct);
            var i = 0;
            distinct_teams.forEach( function(item) {
                xarr[item] = i
                i++;
            });
            drawChart(xarr,yarr);
        })
}

function drawChart(xarr, yarr) {
// xarr is the list of teams
// yarr is the time and overall new point value
    var ctx = document.getElementById("Chart");
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: []
        },
        options: options
    });
    
    

}

async function resizeChart () {
    await chartGen();
}
</script>
<style>
.container-thing {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.left {
    width: 15%;
}
.right {
    width: 15%;
}
.middle {
    display:flex;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    padding-bottom: 60px;
    margin-bottom: 0px !important;
}
</style>
{% endblock %}
</head>
<body>
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
	{% for message in messages %}
	<div class="alert alert-info" style="margin: 1rem;"> {{ message }} </div>
	{% endfor %}
{% endif %}
{% endwith %}
<div class="container-thing">
<div class="left"></div>
<div class="middle">
       <canvas id="chart" width="400" height="400"></canvas>
</div>
<div class="right"></div>
</div>
{% endblock %}
</body>
</html>