<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% extends "topindex.html"%}
{% block head %}
{{super()}}
<script type="text/javascript">
$(document).ready ( function() {
    google.charts.load('current', {'packages':['line']});
    google.charts.setOnLoadCallback(chartGen);
});

async function chartGen() {
    const distinct = (value, index, self) => {
        return self.indexOf(value) == index;
    }
    fetch(`/api/scoring_feed`)
        .then(response => response.json())
        .then(json => {
            var data = json;
            var yarr= []; // [[team_name, new_score, timestamp]]
            // This makes yarr
            data.forEach( function(item) {
                var arr;
                arr = {'team_name':item.team_name, 'new_total': item.new_total, 'when_solved':item.when_solved};
                yarr.push(arr);
            })
            var xarr = {};
            // The next bit would be Xarr
            // xarr = {team_name: number, team_name: number}
            var all_teams = [];
            data.forEach( function(item) {
                all_teams.push(item.team_name)
            });
            var distinct_teams = all_teams.filter(distinct);
            var i = 0;
            distinct_teams.forEach( function(item) {
                xarr[item] = i
                i++;
            });
            drawChart(xarr,yarr);
        })
}

function drawChart(xarr, yarr) {
// xarr is the list of teams
// yarr is the time and overall new point value
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Time')
    Object.keys(xarr).forEach( function(item) {
        data.addColumn('number', item);
    });
    var array_length = Object.keys(xarr).length+1;
    var temparr = new Array(array_length)
    temparr[0] = new Date(2019, 11, 1,12,0,0,0);
    for(let i=1; i<array_length; i++){
        temparr[i] = 0;
    }
    var dat = [];
    dat.push(temparr);
    yarr.forEach( function(item) {
        var xdata = new Array(array_length);
        var arrpos = xarr[item.team_name]+1;
        xdata[0] = new Date(item.when_solved); // This will be a proper timestamp soon
        xdata[arrpos] = item.new_total;  
        dat.push(xdata)
    });
    console.log(dat);
    data.addRows(dat);
    var options = { 
        title: "Scoreboard",
        hAxis: { // X Axis
            title: 'Time'
        },
        vAxis: { // Y Axis
            title: 'Score'
        },  
    }
    
    var chart = new google.charts.Line(document.getElementById('chart_div'))
    chart.draw(data, google.charts.Line.convertOptions(options));
    google.visualization.events.addListener(chart, 'error', function (googleError) {
      google.visualization.errors.removeError(googleError.id);
      document.getElementById("error_msg").innerHTML = "Message removed = '" + googleError.message + "'";
  });
}

async function resizeChart () {
    await chartGen();
}
if (document.addEventListener) {
    window.addEventListener('resize', resizeChart);
}
else if (document.attachEvent) {
    window.attachEvent('onresize', resizeChart);
}
else {
    window.resize = resizeChart;
}
</script>
<style>
.container-thing {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.left {
    width: 15%;
}
.right {
    width: 15%;
}
.middle {
    display:flex;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    padding-bottom: 60px;
    margin-bottom: 0px !important;
}
</style>
{% endblock %}
</head>
<body>
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
	{% for message in messages %}
	<div class="alert alert-info" style="margin: 1rem;"> {{ message }} </div>
	{% endfor %}
{% endif %}
{% endwith %}
<div class="container-thing">
<div class="left"></div>
<div class="middle">
        <div id="chart_div" style="width: 90%; height: 70%;"></div>
</div>
<div class="right"></div>
</div>
{% endblock %}
</body>
</html>